databg:#2E3440 

datawhite: #C8C9CC

datablue:#10BCCB

datapurple: #C286F1

/////////

chart

1- #6DBA52
2- #26715D
3- #8768A3
4- #544669
5- #7EBFDF
6- #3866B1
7- #F8CC2D
8-#E9A854

generate btn : #017EFF